<!-- Timeline Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program Timeline</h2>
                    <h3 class="section-subheading">Key events in the program are shown below.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/google-form-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>TODO: DATE</h4> -->
                                    <h4 class="subheading">Student Applications Open</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students from select universities apply to our program, submitting application materials such as resume/CV, transcript, background questionnaire, and personal statement.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/teamwork-icon.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>TODO: DATE</h4> -->
                                    <h4 class="subheading">Review of Applications &<br>Student-Mentor Matching</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students who are accepted into the program are matched with one of the mentors, who will serve as the primary contact throughout the program.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/laptop-desk-setup.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>TODO: DATE</h4> -->
                                    <h4 class="subheading">Deep Learning Coursework &<br>Program Activities</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students complete a foundational deep learning course with close guidance from mentors. We also host activities, such as fireside chats, open office hours, and guest talks.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/graduation-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>TODO: DATE</h4> -->
                                    <h4 class="subheading">Program Completion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Students are suggested next steps to continue their careers in deep learning after the program. Fellow students optionally stay in contact past program completion through a close-knit alumni network.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>