<!-- Apply Section -->
    <section id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apply</h2>
                    <!-- <h3 class="section-subheading">If you are an undergraduate computer science student who is interested in joining the Spring 2024 cohort as a student and being matched with a qualified mentor, please click "Apply Now!" below and fill out the student application form.</h3> -->
                    <h3 class="section-subheading">The application form for the Spring 2024 iteration of Deep Learning Portal has closed.</h3>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://forms.gle/5yZA7d3BqaNqThQt8" target="_blank"><h4>Apply<br>Now!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </section>