<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="text-align:center;padding:0px;margin:0px;"><img src="img/logos/dlp_logo.png" style="width:220px;padding:0;margin:0;" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apply">Apply</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><span class="bigger">Dive into Deep Learning</span><br><u>without</u> prior AI/ML experience & <u>with</u> a qualified mentor</div>
                <div class="intro-lead-in">We provide a "portal" into a network of deep learning specialists for motivated undergraduate students who are brand new to AI/ML,<br> welcoming disadvantaged students from <i>all</i> backgrounds.</div>
                <!-- <div class="intro-date">Coming in Spring 2024!</div> -->
                <a href="#services" class="page-scroll btn btn-xl">ABOUT</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

