<!-- Schedule Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Spring 2024 Schedule</h2>
                    <h3 class="section-subheading">Below is the week-by-week schedule for the deep learning curriculum <a href="https://www.coursera.org/specializations/deep-learning" style="color:#0000EE;">(Deep Learning Specialization on Coursera)</a>.<br><br>Course modules and assignments listed under each week should be completed by the start date of that week.<br><br>Each student can choose to complete either the <span style="color:green;">Computer Vision Track</span> or the <span style="color:purple;">Natural Language Processing Track</span>.<br><br>Weekly group session topics for students are also listed below and will be updated throughout the spring quarter.</h3>
                </div>
            </div>
            <div class="row">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th style="white-space:nowrap; padding-right:18px;">Start Date</th>
                            <th style="width:25%;">Course Modules</th>
                            <th style="width:30%;">Course Assignments</th>
                            <th style="width:25%;">Weekly Group Sessions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Week 1</td>
                            <td>4/1/24</td>
                            <td>None</td>
                            <td>None</td>
                            <td>Program kick-off & introductions</td>
                        </tr>
                        <tr>
                            <td>Week 2</td>
                            <td>4/8/24</td>
                            <td>
                                • C1M1: Introduction to deep learning<br>
                                • C1M2: Neural Network Basics
                            </td>
                            <td>
                                • Python Basics with Numpy<br>
                                • Logistic Regression with a Neural Network Mindset
                            </td>
                            <td>Group office hours (deep learning curriculum)</td>
                        </tr>
                        <tr>
                            <td>Week 3</td>
                            <td>4/15/24</td>
                            <td>
                                • C1M3: Shallow Neural Networks<br>
                                • C1M4: Deep Neural Networks
                            </td>
                            <td>
                                • Planar Data Classification with One Hidden Layer<br>
                                • Building your Deep Neural Network: Step by Step<br>
                                • Deep Neural Network - Application
                            </td>
                            <td>Ask Me Anything with <a href="https://moojink.com/" style="color:#0000EE;">Moo Jin Kim</a> (Deep Learning Portal founder)</td>
                        </tr>
                        <tr>
                            <td>Week 4</td>
                            <td>4/22/24</td>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Week 5</td>
                            <td>4/29/24</td>
                            <td>
                                • C2M1: Practical Aspects of Deep Learning<br>
                                • C2M2: Optimization Algorithms
                            </td>
                            <td>
                                • Initialization<br>
                                • Regularization<br>
                                • Gradient Checking<br>
                                • Optimization Methods
                            </td>
                            <td>"Struggling to Fail Upwards" — presentation by <a href="https://knight-hennessy.stanford.edu/people/ahmed-ahmed" style="color:#0000EE;">Ahmed Ahmed</a> (Stanford CS PhD student & Deep Learning Portal advisor)</td>
                        </tr>
                        <tr>
                            <td>Week 6</td>
                            <td>5/6/24</td>
                            <td>
                                • C2M3: Hyperparameter Tuning, Batch Normalization and Programming Frameworks
                            </td>
                            <td>
                                • TensorFlow Introduction
                            </td>
                            <td>Casual Q&A with <a href="https://www.linkedin.com/in/samjkwong/" style="color:#0000EE;">Samuel Kwong</a> (Stanford CS BS/MS graduate & ML Software Engineer at <a href="https://waymo.com/" style="color:#0000EE;">Waymo</a>)</td>
                        </tr>
                        <tr>
                            <td>Week 7</td>
                            <td>5/13/24</td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • C4M1: Foundations of Convolutional Neural Networks<br>
                                    • C4M2: Deep Convolutional Models: Case Studies<br><br>
                                </div>
                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • C5M1: Recurrent Neural Networks
                                </div>
                            </td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • Convolutional Model, Step by Step<br>
                                    • Convolution Model Application<br>
                                    • Residual Networks<br>
                                    • Transfer Learning with MobileNet<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • Building a Recurrent Neural Network - Step by Step<br>
                                    • Dinosaur Island-Character-Level Language Modeling<br>
                                    • Jazz Improvisation with LSTM
                                </div>
                            </td>
                            <td>Casual Q&A with <a href="https://www.linkedin.com/in/christopher-wolff" style="color:#0000EE;">Christopher Wolff</a> (Stanford CS MS graduate & AI Research Engineer at <a href="https://deepmind.google/" style="color:#0000EE;">Google DeepMind</a>)</td>
                        </tr>
                        <tr>
                            <td>Week 8</td>
                            <td>5/20/24</td>
                            <td>
                                None
                            </td>
                            <td>
                                None
                            </td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Week 9</td>
                            <td>5/27/24</td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • C4M3: Object Detection<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • C5M2: Natural Language Processing & Word Embeddings
                                </div>
                            </td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • Car Detection with YOLO<br>
                                    • Image Segmentation with U-Net<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • Operations on Word Vectors - Debiasing<br>
                                    • Emojify
                                </div>
                            </td>
                            <td>Casual Q&A with <a href="https://ericmitchell.ai/" style="color:#0000EE;">Eric Anthony Mitchell</a> (Stanford CS PhD student in AI & NLP)</td>
                        </tr>
                        <tr>
                            <td>Week 10</td>
                            <td>6/3/24</td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • C4M4: Special Applications: Face Recognition & Neural Style Transfer<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • C5M3: Sequence Models & Attention Mechanism
                                </div>
                            </td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    • Art Generation with Neural Style Transfer<br>
                                    • Face Recognition<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • Neural Machine Translation<br>
                                    • Trigger Word Detection
                                </div>
                            </td>
                            <td>Casual Q&A with <a href="https://cs.stanford.edu/~pliang/" style="color:#0000EE;">Percy Liang</a> (Stanford ML/NLP professor & director of <a href="https://cs.stanford.edu/~pliang/" style="color:#0000EE;">CRFM: Center for Research on Foundation Models</a>)</td>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap; padding-right:18px;">Final Week</td>
                            <td>6/10/24</td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    None<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • C5M4: Transformer Network
                                </div>
                            </td>
                            <td>
                                <div class="cv-track">
                                    <u>Computer Vision Track</u><br>
                                    None<br><br>
                                </div>

                                ---- OR ----<br><br>

                                <div class="nlp-track">
                                    <u>Natural Language Processing Track</u><br>
                                    • Transformers Architecture with TensorFlow<br>
                                    • Transformer Pre-processing<br>
                                    • Transformer Network Application: Named-Entity Recognition<br>
                                    • Transformer Network Application: Question Answering
                                </div>
                            </td>
                            <td>Next steps and beyond with <a href="https://asap7772.github.io/" style="color:#0000EE;">Anikait Singh</a> (Stanford CS PhD student & Deep Learning Portal program coordinator) and <a href="https://knight-hennessy.stanford.edu/people/ahmed-ahmed" style="color:#0000EE;">Ahmed Ahmed</a> (Stanford CS PhD student & Deep Learning Portal advisor)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>