<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading" style="text-align:left;margin-bottom:60px;">If you are a college student who has taken computer science courses and know how to program in Python, and now you want to learn about AI/ML but don't have any prior experience and don't know where to begin — then the Deep Learning Portal program is for you!<br><br>Our goal is to help students ramp up quickly in deep learning without having to tackle loads of prerequisite materials beforehand, which can be intimidating and pose a high barrier to entry. Students dive straight into deep learning with close guidance from one of our qualified mentors.<br><br>We welcome applicants from all backgrounds, including but not limited to low-income students, first-generation students, and students who have overcome unique personal hardships in life. Our application provides an opportunity for students to tell us about their own unique story.</h3>
                    <h3 class="section-subheading" style="margin-bottom:30px;">The Deep Learning Portal program consists of three core components:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Course Assistance</h4>
                    <p class="text-muted">Our qualified mentors closely guide students through a <b>foundational deep learning course</b> <a href="https://www.coursera.org/specializations/deep-learning">(Deep Learning Specialization on Coursera)</a>, helping to fill knowledge gaps on the fly and assisting with course concepts.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">General Advising</h4>
                    <p class="text-muted">We host <b>informal fireside chats with special guests</b> and hold <b>open AMA-style office hours</b> for students seeking general guidance on their academic career in deep learning and beyond.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Deep Learning Network</h4>
                    <p class="text-muted">Our program connects students with <b>competent deep learning specialists</b> and establishes a <b>community of motivated fellow students</b> from a diverse range of backgrounds.</p>
                </div>
            </div>
        </div>
    </section>